<%- model_class = Node -%>
<%= content_for :title_buttons do %>
  <%= link_to fa_icon('plus'),
              new_admin_node_path,
              :class => 'btn btn-primary' %>
<% end %>

<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
